<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Search</title>
</head>
<body>
<h1>Search</h1>
  <form action="/result/">    
    <input type="text" name="query" placeholder="검색어를 입력하세요">
    <input type="text" name="category" placeholder="카테고리를 입력하세요">
    <button type="submit">검색하기</button>
  </form>
  {% comment %} 검색어
잇는곳에
카테고리 입력할 인풋칸 하나 더만들고
해당 인풋칸에 넣은 말을 result에서 {% endcomment %}
</body>
</html>